<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ConnexionCTRL</servlet-name>
        <servlet-class>jbb.oh.controls.ConnexionCTRL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionCTRL</servlet-name>
        <servlet-class>jbb.oh.controls.InscriptionCTRL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeposeAnnonceCTRL</servlet-name>
        <servlet-class>jbb.oh.controls.DeposeAnnonceCTRL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnonceCTRL</servlet-name>
        <servlet-class>jbb.oh.controls.AnnonceCTRL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescriptionCTRL</servlet-name>
        <servlet-class>jbb.oh.controls.DescriptionCTRL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnexionCTRL</servlet-name>
        <url-pattern>/ConnexionCTRL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionCTRL</servlet-name>
        <url-pattern>/InscriptionCTRL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeposeAnnonceCTRL</servlet-name>
        <url-pattern>/DeposeAnnonceCTRL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnonceCTRL</servlet-name>
        <url-pattern>/AnnonceCTRL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescriptionCTRL</servlet-name>
        <url-pattern>/DescriptionCTRL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
