<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://172.17.0.2:3306/leboncoin?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="fr/oh/entities/SousCategorieProduit.hbm.xml"/>
    <mapping resource="fr/oh/entities/Pays.hbm.xml"/>
    <mapping resource="fr/oh/entities/Region.hbm.xml"/>
    <mapping resource="fr/oh/entities/Ville.hbm.xml"/>
    <mapping resource="fr/oh/entities/Departement.hbm.xml"/>
    <mapping resource="fr/oh/entities/Produit.hbm.xml"/>
    <mapping resource="fr/oh/entities/CategorieClient.hbm.xml"/>
    <mapping resource="fr/oh/entities/Client.hbm.xml"/>
    <mapping resource="fr/oh/entities/CategorieProduit.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
